body {
    background-color: #1F2937;
  }

#header-logo {
    color: #F9FAF8;
    
    padding: 1px 10%;
}

.header-right a {
  color: #E5E7EB;
    font-size: 24px;
    padding: 1px 20px;
    text-decoration: none;
    text-align: center;
  }


.header__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}