body {
    background-color: #1F2937;
  }

.header-logo {
    color: #F9FAF8;
}

.header {
    display:flex;
    justify-content: space-around;
    align-items: flex-start;

    color: #E5E7EB;
    text-align: center;
    font-size: 24px;
  }